@charset 'utf-8';

@media screen and (max-width: 768px) {
  .section {
    font-size: 0.8em;
    line-height: 2;
  }
  ul {
    margin-top: 5px;
    margin-bottom: 5px;
  }
  .post-wrapper {
    border-bottom: 1px solid $light-grey;
    margin-bottom: 5px;
  }
  .post {
    font-size: 16px;
    padding-left: 15px;
    padding-right: 15px;
    &-title {
      display: block;
    }
  }
}